{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "rangeStart": 0,
  "embeddedLanguageFormatting": "auto",
  "filepath": "",
  "requirePragma": false,
  "insertPragma": false
}
